*{
    color: #000;
}

.menu{
    width: 100vh;
}

.menu-banner-avatar{
    width: 90px;
    height: 90px;
}

.menu-banner,.menu-links{
    float: left;
}

.menu-link{
    float: left;
}

main{
    height: 100vh;
    width: 100vw;
    background-image: url("/static/images/background.jpg");
}