@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1755607660700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biji:before {
  content: "\e63f";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-guanyu_o:before {
  content: "\eb77";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-NAS:before {
  content: "\e763";
}

.icon-liuyanban:before {
  content: "\e75e";
}

.icon-wode-weixuanzhong:before {
  content: "\e61a";
}

.icon-a-shouye-weixuanzhong:before {
  content: "\e621";
}

.icon-shezhi:before {
  content: "\e62e";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-arrow-left-s-line:before {
  content: "\e630";
}

.icon-arrow-right-s-line:before {
  content: "\e631";
}

.icon-a-xiaoxi-weixuanzhong:before {
  content: "\e635";
}

